.comment {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 20px 15px;

  font-size: 14px;
  line-height: 24px;
  background-color: @color-light-medium;
}

.comment__author {
  font-weight: @font-bold;
  font-style: normal;
}

.comment__placement-time {
  font-weight: @font-light;
  font-size: 12px;
  text-transform: uppercase;
}

.comment__text {
  width: 100%;
  margin: 0;
}

.comment__responce {
  margin-top: 15px;
}
