.contact {
  padding-top: 45px;
}

.contact__title {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-weight: @light;
  font-size: 24px;
  line-height: 24px;
}

.contact__title-item {
  display: block;
  margin-bottom: 5px;

  text-align: center;
}

.contact__title-item:last-child {
  margin-bottom: 0;
}

.contact__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

.contact__item {
  margin-bottom: 22px;
}

.contact__item:last-child {
  margin-bottom: 0;
}

.contact__item-title {
  margin: 0;

  font-weight: @bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: @dark-font-color;
}

.contact__item-value {
  display: block;

  font-weight: @light;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: @bright-font-color;
  text-decoration: none;
}

.contact__map {
  width: 100%;
  height: 219px;
}

.contact__map-container {
  display: block;
  width: 100%;
  height: 100%;

  border: 0;
}
