.feedback {
  padding: 45px 0;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.feedback__list {
  width: 100%;
  overflow: hidden;
}

.feedback__list-container {
  display: flex;
  width: 300%;
}

.feedback__item {
  width: 33.333333%;
  margin: 0;
}

.feedback__item-author {
  display: block;
  margin-bottom: 15px;

  font-weight: @font-bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @color-dark;
  font-style: normal;
}

.feedback__item-author-about {
  display: none;
}

.feedback__item-text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.feedback__slider-control {
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: @tablet) {
  .feedback__item {
    display: flex;
    flex-direction: column;
  }

  .feedback__item-author {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    order: 1;
    margin-bottom: 0;
  }

  .feedback__item-author-about {
    display: block;
    font-size: 14px;
    font-weight: @font-regular;
  }

  .feedback__item-text {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
