.feedback {
  padding: 45px 0;
}

.feedback__container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__list {
  width: 100%;
  overflow: hidden;
}

.feedback__list-container {
  display: flex;
  width: 300%;
}

.feedback__item {
  width: 33.333333%;
  margin: 0;
}

.feedback__item-author {
  display: block;
  margin-bottom: 15px;

  font-weight: @font-bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @color-dark;
  font-style: normal;
}

.feedback__item-author-about {
  display: none;
}

.feedback__item-text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.feedback__slider-control {
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: @tablet) {
  .feedback__item {
    display: flex;
    flex-direction: column;
  }

  .feedback__item-author {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-bottom: 0;

    font-size: 20px;
  }

  .feedback__item-author-about {
    display: block;

    font-weight: @font-regular;
    font-size: 14px;
  }

  .feedback__item-text {
    margin-bottom: 30px;

    font-size: 18px;
  }
}

@media (min-width: @desktop) {
  .feedback {
    padding-top: 185px;

    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 72px;
    background-size: 79px 63px;
  }

  .feedback__list {
    width: 685px;
  }

  .feedback__item-author {
    font-size: 24px;
  }

  .feedback__item-author-about {
    font-size: 18px;
  }

  .feedback__js-slider-control {
    position: absolute;
    top: 25px;
    padding: 0;

    display: block;
    width: 30px;
    height: 30px;

    font-size: 0;

    background: none;
    border: 2px solid @color-dark;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
    opacity: 0.3;
    outline: none;

    &--prev {
      left: 0;

      transform: rotate(-45deg);
    }

    &--next {
      right: 0;

      transform: rotate(135deg);
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .feedback__slider-control {
    display: none;
  }

  .feedback--no-js {
    .feedback__js-slider-control {
      display: none;
    }

    .feedback__slider-control {
      display: flex;
    }
  }
}
