.page-main {
  padding-top: 66px;

  background-image: url("../img/bg-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 760px auto;
  background-position: top center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-mobile@2x.jpg");
  }
}

.page-main__title {
  width: 100%;
  max-width: 940px;
  min-height: 60px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 55px;
  padding: 0 20px;

  font-weight: @font-light;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.page-main__invite {
  padding: 40px 0;

  color: @color-dark;

  background-color: @color-light;
}

.page-main__invite-item {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-weight: @font-light;
  font-size: 24px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.page-main__features,
.page-main__tariffs,
.page-main__editor {
  color: @color-dark;

  background-color: @color-light-medium;
}

.page-main__feedback,
.page-main__contact,
.page-main__contest,
.page-main__photos {
  color: @color-dark;

  background-color: @color-light;
}

.page-main__research {
  display: none;
}

@media (min-width: @tablet) {
  .page-main {
    padding-top: 110px;

    background-image: url("../img/bg-tablet@1x.jpg");
    background-size: 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-tablet@2x.jpg");
    }
  }

  .page-main__title {
    min-height: 100px;
    margin: 80px auto;

    font-size: 50px;
    line-height: 60px;
  }

  .page-main__invite {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .page-main__invite-item {
    margin: 0;

    font-size: 40px;
  }

  .page-main__research {
    display: block;

    color: @color-dark;

    background-color: @color-light;
  }
}

@media (min-width: @desktop) {
  .page-main {
    background-image: url("../img/bg-desktop@1x.jpg");
    background-size: 2560px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-desktop@2x.jpg");
    }
  }

  .page-main__invite {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .page-main__invite-item {
    font-size: 50px;
  }

  .page-main__research {
    background-color: @color-light-medium;
  }

  .page-main__editor {
    background-color: @color-light;
  }
}
