.photos {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 40px;
}

.photos__appeal {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 20px;

  font-weight: @font-regular;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.photos__list {
  margin-bottom: 20px;
}

.photos__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &--panorama {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;

    .photos__item-image {
      width: 320px;
      height: 137px;
    }

    .photos__item-comment {
      margin: 0 20px;
    }
  }
}

.photos__item-link {
  display: flex;

  text-decoration: none;
}

.photos__item-image {
  display: block;
  width: 280px;
  height: 180px;
}

@media (min-width: @tablet) {
  .photos {
    padding-top: 95px;
    padding-bottom: 65px;
  }

  .photos__appeal {
    max-width: 436px;
    margin-bottom: 75px;

    font-size: 18px;
  }

  .photos__list {
    margin-bottom: 50px;
  }

  .photos__list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photos__item {
    width: 300px;

    &--panorama {
      width: 660px;
      margin: 0 auto;
      margin-bottom: 50px;

      .photos__item-image {
        width: 660px;
        height: 509px;
      }

      .photos__item-comment {
        margin: 0 20px;
      }
    }
  }

  .photos__item-image {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: @desktop) {
  .photos__appeal {
    margin-bottom: 85px;
  }

  .photos__item {
    &--panorama {
      width: 100%;
      max-width: 1200px;

      .photos__item-link {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      .photos__item-image {
        width: 1200px;
        height: 506px;
        flex-shrink: 0;
      }

      .photos__item-comment {
        width: 940px;
        margin: 0 auto;
      }
    }
  }

  .photos__item-image {
    height: 400px;
  }
}
