.tariffs {
  padding-top: 85px;
  padding-bottom: 45px;
}

.tariffs__container {
  width: 100%;
  max-width: 940px;
  padding: 0;
  overflow: hidden;
}

.tariffs__table {
  width: 261.25%;
  margin-left: 6.25%;

  border-collapse: collapse;
}

.tariffs__plan-item,
.tariffs__option-item {
  width: 33.333333%;
  padding: 15px 20px;

  border: 2px solid @color-light-medium;
}

.tariffs__plan-item {
  color: @color-light;

  background-color: @color-dark;

  &--empty {
    display: none;
    background: none;
    border: none;
  }
}

.tariffs__plan-item-name {
  display: block;

  font-weight: @font-bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.tariffs__plan-item-price {
  display: block;

  font-weight: @font-light;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.tariffs__option-item {
  position: relative;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  background-color: @color-light;

  &--title {
    display: none;
  }
}

.tariffs__option-mark {
  position: absolute;
  top: 50%;
  right: 20px;

  display: block;
  width: 31px;
  height: 26px;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center center;
  transform: translateY(-50%);

  &--yes {
    background-image: url("../img/mark-yes.svg");
  }

  &--no {
    background-image: url("../img/mark-no.svg");
  }
}

.tariffs__slider-control {
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: @tablet) {
  .tariffs {
    padding-bottom: 70px;
  }

  .tariffs__container {
    padding: 0 20px;
  }

  .tariffs__table {
    width: 100%;
    margin: 0;
  }

  .tariffs__plan-item,
  .tariffs__option-item {
    width: 25%;
  }

  .tariffs__plan-item {
    &--empty {
      display: table-cell;
    }
  }

  .tariffs__plan-item-name {
    font-size: 16px;
  }

  .tariffs__plan-item-price {
    font-size: 18px;
  }

  .tariffs__option-item {
    padding-top: 10px;
    padding-bottom: 10px;

    &--title {
      display: table-cell;
    }

    &--access {
      font-size: 0;
    }
  }

  .tariffs__option-mark {
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tariffs__slider-control {
    display: none;
  }
}

@media (min-width: @desktop) {
  .tariffs {
    padding-top: 155px;
    padding-bottom: 95px;
  }

  .tariffs__plan-item-name {
    font-size: 18px;
  }

  .tariffs__plan-item-price {
    font-size: 24px;
  }

  .tariffs__option-item--title {
    font-size: 18px;
  }
}
