//Font
@font-family: "OpenSans", "Arial", sans-serif;
@light: 300;
@regular: 400;
@bold: 700;
@light-font-color: #ffffff;
@middle-font-color: #283645;
@dark-font-color: #000000;
@bright-font-color: #d22856;

//Background
@bg-light: #ffffff;
@bg-middle: #f2f2f2;
@bg-dark: #283645;
