//Font
@font-family: "OpenSans", "Arial", sans-serif;
@font-light: 300;
@font-regular: 400;
@font-bold: 700;

//Color
@color-light: #ffffff;
@color-dark: #283645;
@color-bright: #d22856;
@color-smooth: #e5e5e5;

//Logo-color
@logo-light: #ffffff;
@logo-bright: #d22856;

//Button-color
@btn-color-default: #2aab6d;
@btn-color-light: #ffffff;
@btn-color-bright: #d22856;
