//Font
@font-family: "OpenSans", "Arial", sans-serif;
@light: 300;
@regular: 400;
@bold: 700;
@default-font-color: #283645;
@bright-font-color: #d22856;
@light-font-color: #ffffff;
@dark-font-color: #000000;

//Background
@bg-dark: #1d2631;
@bg-light-dark: #283645;
@bg-middle: #f2f2f2;
@bg-light: #ffffff;
